/* estilos index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: aliceblue ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .titulo {
  text-align: center;
  color: #640202;
  font-size: 42px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.contenedor {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

button {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #be2929;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e9b4f;
}
